

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 99vw;
  // max-width: 100vw;
  height: 100vh;
  // overflow-x: hidden !important;
  background: rgb(255,231,67);
  background: radial-gradient(circle, rgba(255,231,67,1) 0%, rgba(218,175,43,1) 100%);
  user-select: none;
}